<head>

<% if (user) { %>
<p> Logged in as: <%= user["email"] %> </p>
<form method="POST" action="/logout">
  <button type="submit" name="username_logout">Logout</button>
</form>
<% } else { %>

<a href="/register">Register</a>
<a href="/login">Login</a>
</form>













<%=user%>
<% } %>




