<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/register" method="POST" style="margin:150px;">
      <label>Enter Email:</label>
      <input type="email" name="email" placeholder="Email address" style="width: 300px">
      <br>
      <label>Enter Password:</label>
      <input type="password" name="password" placeholder="Password" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>