<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
  <% include partials/_header %>
</header>
    <h3>You can use this page to edit your longURL. The shortURL will stay the same.</h3>
    <b>shortURL: </b> <%= shortURL %>
    <br>
    <b>longURL: </b><%= longURL %>

<form method="POST" action="/urls/<%=shortURL%>">
   <input type="text" name="longURL">
   <button>Edit longURL</button>
  </form>
  <br>
  <center>
<a href="/urls">Go back to main URL list </a>
</center>
</body>
</html>