
<form method="POST" action="/login">
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="text" name="password" placeholder="password">
  <button type="submit">Header Submit</button>
</form>
