<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body style="font-size:20px; padding:50px;">


 <form action="/register" method="POST" style="margin:150px;">
      <label>Enter Email:</label>
      <input type="text" name="email" type="email" style="width: 300px">
<br>
         <label>Enter Password:</label>
      <input type="text" name="password" type="password" style="width: 300px">
      <input type="submit" value="Submit">

    </form>


  </body>
</html>