
    <form action="/login" method="POST" style="margin:150px;">
      <h1>Please login with valid credentials:</h1>
      <br>
      <label for="username"><b>Email Address:</b></label>
      <input id="username" type="text" name="username" style="width: 250px">
      <br>
      <label for="password"><b>Password:</b></label>
      <input id="password" type="text" name="password" style="width: 284px">
      <br>
      <input type="submit" value="Click to Submit">
    </form>

