
<!-- views/partials/urls_index.ejs -->


<html>
<head>
<title> TinyApp </title>
</head>
<body>
<ul>


<% for (var i in urls){ %>
<form method="POST" action="/urls/<%=i%>/delete">
<li>
<%= i %>
-->
<a href = "<%=urls[i]%>"> <%=urls[i] %> </a>
</li>
<button> DELETE </button>
<% } %>


</form>



<a href = '#'> URL Shortener </a>
</ul>
</body>
</html>

