<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
   <body>

 <form action="/register" method="POST" style="margin:150px;">
  <h1>Register an Account </h1>
      <label><b>Enter Your Email:</b></label>
      <input type="text" name="email" type="email" style="width: 250px">
  <br>
         <label><b>Enter a Password:</b></label>
      <input type="text" name="password" type="password" style="width: 250px">
      <input type="submit" value="Click to Submit">
    </form>
  </body>
</html>