
<form method="POST" action="/login">
  <p> Please login </p>
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="text" name="password" placeholder="password">
  <button type="submit">Login</button>
</form>
