
<form method="POST" action="/login">
  <h3> Please login </h3>
  <p>If you are unable to log in, you are either entering invalid credentials for an existing account or you have not created an account with us. Please <a href="/register"> register </a> for an account to use the TinyApp service in the latter. </p>
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="text" name="password" placeholder="password">
  <button type="submit">Login</button>
</form>
