
<!-- views/partials/urls_show.ejs -->

<html>
<head>
<title> TinyApp </title>
</head>


<body>
<ul>

<h1>


  <form method="POST" action="/urls/<%=shortURL %>">

<li> <%= shortURL %> : <%= longURL %></li>


<button> Edit </button>

<input type="text" name="newLongURL">

  </form>



</h1>


<div></div>
<div></div>
<a href = '#'> URL Shortener </a>
</ul>
</body>
</html>
