
<!-- views/partials/urls_show.ejs -->

<html>
<head>
<title> TinyApp </title>
</head>
<body>
<ul>


<li> <%= shortURL %> <%= longURL %></li>



<div></div>
<div></div>
<a href = '#'> URL Shortener </a>
</ul>
</body>
</html>