
<!-- views/partials/urls_index.ejs -->


<html>
<head>
<title> TinyApp </title>
</head>
<body>
<ul>




<% for (var i in urls){ %>
<li> <%= i %> <%= urls[i] %> </li>
<% } %>



<a href = '#'> URL Shortener </a>
</ul>
</body>
</html>