
<!-- views/partials/urls_index.ejs -->


<html>
<head>
<title> TinyApp </title>
</head>

<header>
   <% include partials/_header %>
 </header>

<body>
<ul>

<h1>
<% for (var i in urls){ %>
<form method="POST" action="/urls/<%=i%>/delete">
<li>
<%= i %>
-->
<a href = "<%=urls[i]%>"> <%=urls[i] %> </a>
</li>
<button> DELETE </button>
<button> Edit </button>
</form>
<% } %>




</h1>


<a href = '#'> URL Shortener </a>
</ul>
</body>
</html>

